.AdminPanel{
	display: flex;
	flex-direction: column;
	height: calc(100% - (45px + 20px * 3));


	label{
		font-size: 21px;
	}
	
	input{
		text-indent: 0;
		font-size: 20px;
	}
	
	form{
		margin: 20px;
	}

	input[type=checkbox]{
		transform: scale(1.5);
	}

	.infoWrap{
		flex: 5;
	}

	.save-btn{
		flex: 1;
		margin-top: auto;
		font-size: 17px;
	}
	// background-color: black;
}