.Canvas
{
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: rgb(0, 0, 0, 0.5);
    border: 10px inset brown;

}












.CanvasPreview
{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: rgb(0, 0, 0, 0.5);
    border: 10px inset brown;
}

.SkinLabel
{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: cursive;
    font-size: x-large;
    font-weight: 100;
}

.SkinSelector
{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: cursive;
    font-size: x-large;
    font-weight: 100;
}

.SkinList
{
    background-color:black;
    border: 4px inset brown;
}

.CreateLobbyBtn
{
    background-color: black;
    width: 200px;
    border: 4px inset brown;
}

.CreateLobby
{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.ColorPicker
{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: x-large;
    font-weight: 100;
}

.Paddle1ColorPicker
{
    margin-right: 100px;
    background-color: black;
}

.Paddle2ColorPicker
{
    background-color: black;

}

.NetColorPicker
{
    margin-right: 100px;
    background-color: black;
}


.BallColorPicker
{
    margin-right: 100px;
    background-color: black;
}











.default
{
    background-color: black;
    background-repeat:no-repeat;
    background-size: cover;
    width: auto;
    min-width: 100vh;
    min-height: 100vh;  
}

.BananaGIF
{
    background-image: url("../../public/BananaGIF.gif") ;
    background-repeat:no-repeat;
    background-size: cover;
    width: auto;
    min-width: 100vh;
    min-height: 100vh;
}

.SpaceGIF
{
    background-image: url("../../public/goodsize.gif") ;
    background-repeat:no-repeat;
    background-size: cover;
    width: auto;
    min-width: 100vh;
    min-height: 100vh;
}

.neonsunsetoverdrive
{
    background-image: url("../../public/Big\ GIF.gif") ;
    background-repeat:no-repeat;
    background-size: cover;
    width: auto;
    min-width: 100vh;
    min-height: 100vh;
}

.gotham
{
    background-image: url("../../public/GothamCity.jpg") ;
    background-repeat:no-repeat;
    background-size: cover;
    width: auto;
    min-width: 100vh;
    min-height: 100vh;
}